<div class = "form">
  <form action="/users/<%= @user_id %>/password" class="form__content" method="post">
    <legend class="form__header">edit user password</legend>
    <fieldset class="form__group">
      <label for="password" class="form__prompt">Password</label>
      <div class="password__box">
        <input type="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,}$" title="Must be minimum 8 characters and include at least 1 lowercase character, 1 uppercase character, 1 number, and one symbol (@#$%^&+=)" class="form__input password__input" value="<%= params[:password] %>" required>
        <div class="password__check">
          <svg class="password__icon password__icon--hidden">
            <use xlink:href="/images/sprite.svg#icon-view-hide"></use>
          </svg>
          <svg class="password__icon password__icon--shown hide">
            <use xlink:href="/images/sprite.svg#icon-view-show"></use>
          </svg>
        </div>
      </div>
    </fieldset>
    <fieldset class="form__submit">
      <input type="submit" value="Edit" class="form__btn form__btn--pos">
      <a class="form__btn form__btn--neg" href="/users/<%= @user_id %>/settings">Cancel</a>
    </fieldset>
  </form>
</div>
