.password {
    &__box {
        display: inline-block;
        position: relative;
        width: 100%;
        cursor: pointer;
    }

    &__input {
        width: 100%;
    }

    &__check {
        display: inline-block;
        position: absolute;
        top: 25%;
        right: 5px;
        height: 2rem;
        width: 2rem;
    }

    &__icon {
        position: absolute;
        right: inherit;
        display: inline-block;
        height: 2rem;
        width: 2rem;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}